# Node dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
.next/
out/
build/

# Environment variables
.env*.local
.env

# Optional eslint cache
.eslintcache

# Optional Docusaurus cache
.docusaurus

# Next.js directories
.next

# Optional Gatsby cache directory
.cache/

# Optional Mac stuff
.DS_Store 